*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

/* 헤더 스타일 */
header {
    width: 100%;
    height: 60px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: white;

    z-index: 999;
}

.navE:hover{
    font-weight: 700;
    color: orange;
}

#logo{
    width: 150px;
}
/* 헤더 스타일 */

/* 컨테이너 스타일 */
#container{
    background-color: #2b2b2b;
    margin-top: 60px;
    width: 1320px;
    height: auto;
    margin: 0 auto;
}

/* 슬라이드 스타일 */
#slideContainer{
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#mainSlider{
    display: flex;
    width: 1200px;
    overflow: hidden;
    border-radius: 10px;
}

#mainSlider>img {
    width: 1200px;
    animation: slideAnimation 8s infinite;
}

@keyframes slideAnimation {
    0%,
    20%,
    100% {
        transform: translateX(0%);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }
}
/* 슬라이드 스타일 */

/* 인포메이션 스타일 */
.implContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.implContainer>h1 {
    color: white;
}

#information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

#information>img {
    width: 500px;
    border: 5px solid white;
}

#informationText {
    margin-left: 50px;
}

.whiteText{
    color: white;
    font-weight: 700;
}

.blueBtn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    background-color: #0d6efd;
}
/* 인포메이션 스타일 */

/* 스케쥴 스타일 */

/* 대회 진행 상태 */
#gameStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    background-color: #3b3b3b;
    border-radius: 10px;
    margin-top: 10px;
    animation: slideIn 3s infinite alternate;
}

@keyframes slideIn {
    from{
        background-color: #2b2b2b;
    }

    to{
        background-color: #3b3b3b;
    }
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team>span>img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
}
.team>p{
    color: white;
    font-weight: 800;
    margin-top: 10px;
}

#gameStatus>p{
    font-size: 100px;
    margin: 0 30px 0 30px;
    color: white;
}

/* 대회 진행 상태 */

/* 스케쥴 표 */

#scheduleTable{
    width: 1000px;
    border: 1px solid white;
}

td {
    height: 100px;
    font-size: 30px;
    border: 1px solid white;
    color: white;
}

th{
    color: white;
}

tr>td:first-child, th:first-child{
    color: rgb(205, 34, 34);
}

tr>td:last-child, th:last-child, td>a{
    color: #0d6efd;
}

#modal20{
    color: rgb(199, 182, 30);
}

/* 스케쥴 표 */

/* 모달 */

#modal{
    position: fixed;
    top: 30%;
    left: 30%;

    width: 700px;
    height: 300px;
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
}

#modal:target{
    visibility: visible;
    opacity: 1;
}

#modal>img{
    width: 100px;
}

#modal button{
    background-color: rgb(205, 34, 34);
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
}


/* 모달 */

/* 스케쥴 스타일 */

/* 리그별 순위 */

#league {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
}

#league p, #league a{
    color: white;
    font-weight: 700;
}

#league div{
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}
#league p{
    visibility: visible;
}

#league li{
    margin-top: 10px;
}

#league p:hover{
    color: orange;
}

.dropMenu li:hover{
    color: orange;
}

#league>div:hover .dropMenu{
    visibility: visible;
}
/* ----------- */

#leagueDetail{
    width: 1000px;
    display: flex;
    justify-content: center;
}

#leagueDetail div{
    display: none;

}

#leagueDetail ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#leagueDetail p, #leagueDetail li{
    color: white;
    font-weight: 700;
}

#leagueDetail li{
    margin-top: 10px;
}

#leagueDetail div:target{
    display: block;
    margin-left: 20px;
}
/* 리그별 순위 */

/* 부문별 TOP5 */

.acodion {
    width: 700px;
    background-color: white;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acodion div:first-child{
    font-size: 30px;
    font-weight: 700;
}

.acodion>div:last-child{
    display: none;
    margin: 10px 0 10px 0;
}

.acodion>div:last-child:target{
    overflow: hidden;
    display: block;
    animation: 0.5s acodionOpen ease-in;
}

.acodion ul li{
    font-weight: 800;
}

@keyframes acodionOpen {
    0%{
        height: 0;
    }
    100%{
        height: 105px;
    }
}

/* 부문별 TOP5 */

/* 갤러리 스타일 */
#gallery {
    width:1000px;
    overflow: hidden;
}

.galleryRadio{
    display: none;
}

.galleryBtn{
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    display: none;
}

.galleryBtn label{
    font-size: 30px;
}

#gallerySlide{
    width: 1600px;
    display: flex;
}

#gallerySlide img{
    width: 500px;
    height: 333px;
}

.gallerySeeMore{
    display: none;
}

.galleryImg:hover .gallerySeeMore, p{
    display: flex;
    flex-direction: column;
    color: white;
}

#description{
    width: 400px;
    height: 333px;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#description p {
    color: white;
    font-weight: 800
}

.galleryImg{
    width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#one:checked ~ #oneBtn{
    display: block ;
}

#two:checked ~ #gallerySlide{
    animation: 2s galleryMove1 forwards;
}

#two:checked ~ #threeBtn{
   display: block;
}

#three:checked ~ #gallerySlide{
    animation: 2s galleryMove2 forwards;
}

#three:checked ~ #fourBtn{
    display: block;
}

#four:checked ~ #gallerySlide{
    animation: 2s galleryMove3 forwards;
}

#four:checked ~ #fiveBtn{
    display: block;
}

#five:checked ~ #gallerySlide{
    animation: 2s galleryMove4 forwards;
}

#five:checked ~ #fourBtn{
    display: block;
}



@keyframes galleryMove1 {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-12%);
    }
}

@keyframes galleryMove2 {
    from{
        transform: translateX(-12%);
    }
    to{
        transform: translateX(-25%);
    }
}

@keyframes galleryMove3 {
    from{
        transform: translateX(-25%);
    }
    to{
        transform: translateX(-37.5%);
    }
}

@keyframes galleryMove4 {
    from{
        transform: translateX(-37.5%);
    }
    to{
        transform: translateX(-25%);
    }
}
/* 갤러리 스타일 */

/* 굿즈 스타일 */
#goods{
    width: 1000px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

#goods div:first-child:hover{
    transform: scale(1.1);
}

#goods img{
    width: 200px;
    height: 200px;

    border-radius: 10px;
}
/* 굿즈 스타일 */

/* 컨테이너 스타일 */

/* 푸터 스타일 */
footer{
    width: 100%;
    background-color: #2b2b2b;
}

footer>div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px dotted white;
    padding: 20px 0;
}

footer>div>img{
    width: 100px;
}

footer>div>p {
    margin: 2px;
}
/* 푸터 스타일 */